body {
	font-family: sans-serif;
	margin: 0;
}
h1 {
	font-size: 95px;
}
.hero {
	text-align: center;
	padding: 15%;
	color: #fff;
	background-color: #520;
	background-image: url(images/hero.jpg);
	background-position: center 75%;
	background-size: cover;
}